body {
  background-image: url("../img/sb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
  word-wrap: break-word;
}

.sidebar {
  width: 5%;
  float: left;
  height: 100vh;
  background-color: #ffa411;
  position: fixed;
}

.container {
  width: 95%;
  float: right;
}

.intro p {
  padding-left: 53px;
  font-size: 26px;

}

h1 {
  font-size: 60px;
  line-height: 50px;
}

.interests img {
  width: 200px;
}

.interests h4 {
  text-align: left;
}

.work {
  background-color: rgba(240, 240, 240, 0.7);
  padding: 1% 2% 2% 2%;
  border-radius: 1px;
  margin: 10px;
}

.about {
  background-color: rgba(240, 240, 240, 0.7);
  padding: 1% 2% 2% 2%;
  border-radius: 1px;
  margin: 10px;
}

.bottom {
  background-color: rgba(240, 240, 240, 0.7);
  padding: 1% 2% 2% 2%;
  border-radius: 1px;
  margin: 10px;
}

.work .row {
  padding-left: 30px;
}

.about .background {
  padding-left: 30px;
}

.about .interests {
  padding-left: 30px;
}

.about a {
  color: #2f6d2f;
}

.bottom ul {
  list-style: none;
}

.bottom img {
  width: 20%;
}
