body {
  background-image: url("../img/sb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
}

h1 {
  font-size: 60px;
}

.interests img {
  width: 200px;
}

.interests h4 {
  text-align: left;
}

.work, .about {
  background-color: rgba(240, 240, 240, 0.7);
  padding: 1% 2% 2% 2%;
  border-radius: 1px;
  margin: 10px;
}

.work .row {
  padding-left: 30px;
}

.about .background {
  padding-left: 30px;
}

.about .interests {
  padding-left: 30px;
}

.sidebar ul {
  list-style: none;
}
